// Variables

$fontPath:                  '/fonts/';

// Colors
// -------------------------
$textColor:                 #3c3f44;
$white:                     #fff !default;
$black:                     #000 !default;
$grey:                      #D0D3D4 !default;
$green:                     #2ea555 !default;
$yellow:                    #ffd525 !default;
$blue:                      #1a8cff !default;
$red:                       #d1231a !default;


// Breakpoints
// -------------------------
$mobileWidth:               "375px";
$largeMobileWidth:          "640px";
$tabletWidth:               "768px";
$largeTabletWidth:          "992px";
$desktopWidth:              "1200px";
$largeDesktopWidth:         "1600px";


// Animation
// -------------------------
$transTime:                 0.3s;
$transTimeFast:             $transTime * 0.5;
$transTimeSlow:             $transTime * 1.5;
$transTimeSuperSlow:        $transTime * 2;
