.kilometrix-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 1s;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, .7) 50%,
            rgba(255, 255, 255, 0) 100%);
    @include largeMobile {
      background: rgba(255, 255, 255, .7);
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    max-width: 60%;
    position: relative;
    padding: 0 5%;
    margin-top: -100px;
    color: $textColor;
    @include largeDesktop {
      max-width: 80%;
    }
    @include largeMobile {
      max-width: unset;
    }
  }

  &__title {
    margin: 0 0 50px;
    font-weight: 400;
    font-size: 90px;
    @include desktop {
      font-size: 70px;
    }
    @include largeTablet {
      font-size: 50px;
    }
    @include largeTablet {
      font-size: 50px;
      font-weight: 500;
    }
    @include largeMobile {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }

  &__text {
    &--active {
      color: $red;
    }
  }

  &__description {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @include largeMobile {
      margin-bottom: 20px;
      -webkit-line-clamp: 2;
    }
  }

  &__link {
    position: relative;
    padding-bottom: 5px;
    color: $red;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid $red;
    text-decoration: none;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
  }
}